@use "./../../../styles/abstracts/utils" as util;

.slogan {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   @include util.gray-outline;

   .slogan-content {
      width: 100%;
      max-width: 1078px;
      margin-inline: auto;
      padding-inline: 2rem;
      @include util.gray-outline;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
         font-family: "Times New Roman", Times, serif;
         font-size: var(--fs-body-small);
         font-weight: 500;
         color: #4f5b45;
         letter-spacing: 0.03125rem;
      }
   }
}