header {
   width: 100%;
}

.slogan {
   display: flex;
   align-items: center;
   justify-content: center;

   height: 30px;
   outline: 1px solid gray;
   p {
      font-family: "Times New Roman", Times, serif;
      // font-size: clamp(0.875rem, 2vw, 1rem);
      font-weight: 500;
      color: #4f5b45;
      letter-spacing: 0.03125rem; // 0.5px
   }
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
   outline: 1px solid gray;
}

// // src/components/Header.scss
// :root {
//    --header-height: 120px;
//    --slogan-height: 30px;
//    --nav-height: 90px;
// }

// .container {
//    display: flex;
//    flex-direction: column;
//    --max-width: 1078px;
//    --padding: 2rem; // 32px
//    width: min(var(--max-width), 100% - var(--padding) * 2);
//    margin-inline: auto;
//    outline: 1px solid gray;
// }

// // .slogan {
// //    display: flex;
// //    align-items: center;
// //    justify-content: center;
// //    height: calc(var(--header-height) * 0.25); // 30px
// //    outline: 1px solid gray;
// //    p {
// //       font-family: "Times New Roman", Times, serif;
// //       font-size: clamp(0.875rem, 2vw, 1rem);
// //       font-weight: 500;
// //       color: #4f5b45;
// //       letter-spacing: 0.03125rem; // 0.5px
// //    }
// // }

// .nav-wrapper {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    height: calc(var(--header-height) * 0.75); // 90px
//    outline: 1px solid gray;
//    .logo {
//       display: flex;
//       align-items: center;
//       width: auto;
//       height: 100%;
//       outline: 1px solid gray;
//       // img {
//       //    height: 80px;
//       //    width: 196.031px;
//       //    min-height: 80px;
//       //    min-width: 196.031px;
//       // }
//    }
//    // .primary-nav {
//    //    height: 100%;
//    //    width: auto;
//    //    display: flex;
//    //    align-items: center;
//    //    outline: 1px solid gray;
//    //    .nav-list {
//    //       display: flex;
//    //       align-items: center;
//    //       gap: 2rem; // 32px
//    //       padding: 0 32px;
//    //       outline: 1px solid gray;
//    //       li {
//    //          display: flex;
//    //       }
//    //       li a {
//    //          font-size: clamp(0.875rem, 2vw, 1rem); // min 14px, max 16px
//    //          outline: 1px solid gray;
//    //          white-space: nowrap;
//    //       }
//    //       li:first-child a {
//    //          color: #7b8c6a;
//    //       }
//    //    }
//    // }
// }

// // @media screen and (max-width: 868px) {
// //    .nav-list {
// //       gap: 0.1rem; // 8px
// //       li a {
// //          font-size: clamp(0.625rem, 2vw, 0.75rem); // min 10px, max 12px
// //       }
// //    }
// // }

// // @media screen and (max-width: 768px) {
// //    .nav-list {
// //       display: none !important;
// //    }
// // }
