@use "../styles/abstracts/utils" as util;

/* Container styling */
.slogan-container {
   --max-width: 1078px; /* Maximum width of the container */
   --padding: 2rem; /* Padding for internal spacing */

   width: min(
      var(--max-width),
      100% - (var(--padding) * 2)
   ); /* Width based on max-width and padding */
   margin-inline: auto; /* Center container horizontally */
   @include util.gray-outline;
}


/* Slogan styling */
.slogan {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px; /* Fixed height for the slogan */
   @include util.gray-outline;

   p {
      font-family: "Times New Roman", Times, serif;
      font-size: var(--fs-body-small); /* Font size for slogan text */
      font-weight: 500;
      color: #4f5b45;
      letter-spacing: 0.03125rem; /* 0.5px letter spacing */
   }

   // @media screen and (max-width: 768px) {
   //    p {
   //       font-size: var(--fs-body-xsmall); /* Smaller font size on small screens */
   //    }
   // }
}