@use "./../../../styles/abstracts/utils" as util;

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90px;
   @include util.gray-outline;

   .navbar-content {
      width: 100%;
      max-width: 1078px;
      margin-inline: auto;
      padding-inline: 2rem;
      @include util.gray-outline;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-brand {
         @include util.gray-outline;
         img {
            height: 72px;
            margin-right: 2rem;
            @include util.gray-outline;
         }
      }

      .nav-primary {
         z-index: 1000;
         @include util.gray-outline;
         .nav-list {
            display: flex;
            gap: 1rem;
            @include util.gray-outline;
            li {
               color: var(--clr-primary-400);
            }
            li:first-child {
               color: #7b8c6a;
            }
         }

         @media screen and (max-width: 768px) {
            width: 100%;
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);

            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 8px;

            transition: top 0.3s ease;
            opacity: 0;

            &[data-visible="true"] {
               top: 132px;
               transition:
                  top 0.3s ease,
                  opacity 1s ease;
               opacity: 1;
            }

            .nav-list {
               display: grid;
               gap: 0;
               text-align: center;
               @include util.gray-outline;
               
               li {
                  padding-block: 2rem;
                  @include util.gray-outline;
                  a {
                     font-size: var(--fs-body-small);
                     @include util.gray-outline;
                  }
               }
            }
         }
      }

      .nav-toggle {
         display: none;
         border: none;
         @include util.gray-outline;
         @media screen and (max-width: 768px) {
            display: block;
         }
      }
   }
}

.filter-green {
   filter: invert(33%) sepia(16%) saturate(576%) hue-rotate(50deg)
      brightness(94%) contrast(87%);
}

// /* Navbar styling */
// .navbar {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    padding-inline: 20px;

//    .nav-brand {
//       display: flex;
//       align-items: center;
//       height: 90px;
//       margin-right: 20px;

//       img {
//          height: 72px;
//       }
//    }

//    .nav-toggle {
//       display: none;
//       background: none;
//       border: none;
//       cursor: pointer;
//       z-index: 20;

//       @media screen and (max-width: 784px) {
//          display: block;
//       }

//       img {
//          width: 25px;
//          height: 25px;
//       }
//    }

//    .primary-nav {
//       display: flex;

//       .nav-list {
//          display: flex;
//          gap: 1rem;

//          li a {
//             color: var(--clr-primary-400);
//          }
//          li:first-child a {
//             color: #7b8c6a;
//          }
//       }

//       @media screen and (max-width: 784px) {
//          display: block;
//          position: absolute;
//          width: 100%;
//          top: -100%;
//          left: 50%;
//          transform: translateX(-50%);
//          opacity: 0;
//          transition: top 0.3s ease;
//          background-color: white;
//          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//          border-radius: 8px;
//          z-index: 19;

//          &[data-visible="true"] {
//             top: 132px;
//             opacity: 1;
//             transition:
//                top 0.3s ease,
//                opacity 1s ease;
//          }

//          .nav-list {
//             display: grid;
//             gap: 0;
//             text-align: center;

//             li {
//                padding-block: 2rem;
//                a {
//                   font-size: var(--fs-body-small);
//                }
//             }
//          }
//       }
//    }
// }
