@use "./../../../styles/abstracts/utils" as util;

.navbar {
   @include util.gray-outline;
   background-color: var(--clr-neutral-100);
   display: flex;
   align-items: center;
   height: 90px;
   position: sticky;
   top: 0;
   z-index: 1000;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;

   &.sticky {
      background-color: var(--clr-neutral-100);
      box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
   }
   
   .navbar-content {
      @include util.gray-outline;
      width: 100%;
      max-width: 1078px;
      margin-inline: auto;
      padding-inline: 2rem;
      
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-brand {
         @include util.gray-outline;
         img {
            @include util.gray-outline;
            height: 72px;
            margin-right: 2rem;
         }
      }

      .nav-primary {
         @include util.gray-outline;
         .nav-list {
            @include util.gray-outline;
            display: flex;
            gap: 2rem;
            li {
               color: var(--clr-primary-400);
               letter-spacing: 0.08rem;
               position: relative;
               ::before {
                  content: attr(data-text);
                  position: absolute;
                  bottom: 25%;
                  right: 30%;
                  color: whitesmoke;
                  z-index: -1;
               }
            }
            li:first-child {
               color: #7b8c6a;
            }
         }

         @media screen and (max-width: 882px) {
            z-index: -1;
            position: absolute;
            width: 100%;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);

            box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
            background-color: var(--clr-neutral-100);
            border-radius: 0 0 8px 8px;

            transition: top 0.3s ease;
            opacity: 0;

            &[data-visible="true"] {
               top: 90px;
               transition:
                  top 0.5s ease,
                  opacity 0.3s ease;
               opacity: 1;
            }

            .nav-list {
               @include util.gray-outline;
               display: grid;
               text-align: center;
               gap: 0;
               
               li {
                  @include util.gray-outline;
                  padding-block: 2rem;
                  a {
                     @include util.gray-outline;
                     font-size: var(--fs-body-small);
                  }
               }
            }
         }
      }

      .nav-toggle {
         @include util.gray-outline;
         display: none;
         border: none;
         @media screen and (max-width: 882px) {
            display: block;
         }
      }
   }
}

.filter-green {
   filter: invert(33%) sepia(16%) saturate(576%) hue-rotate(50deg)
      brightness(94%) contrast(87%);
}