@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;
 // ========================
 // Thematic Defaults
 // ========================
 :root {
   // Apply font sizes as CSS variables
   @include mixins.generate-css-variables(var.$font-sizes, fs);
 
   // Apply font assignments as CSS variables
   @include mixins.generate-font-family-css-variables(var.$font-assignments, ff);

   // Apply font weights as CSS variables
   @include mixins.generate-font-weight-css-variables(var.$font-weights, fw);
 
   // Apply colors as CSS variables
   @include mixins.generate-color-css-variables(var.$colors, clr);
 
   // Apply spacing as CSS variables
   @include mixins.generate-spacing-css-variables(var.$spacing-sizes, spacing);
 
   // Base font and theme defaults as CSS variables
   --base-font-size: 16px;
   --base-line-height: 1.5;
   --base-font-weight: 400;
   --default-text-color: hsl(0, 0%, 23%);
   --default-background-color: hsl(0, 0%, 90%);

   // Assigning commonly used font size variables as CSS variables
   --fs-body: var(--fs-body-small); // Default body font size
   --fs-primary-heading: var(--fs-display-sm); // Primary heading font size
   --fs-secondary-heading: var(--fs-heading-h2); // Secondary heading font size
   --fs-nav: var(--fs-body-medium); // Navigation font size
   --fs-button: var(--fs-label-small); // Button font size

   // Navigation slogan color
   --clr-nav-slogan: hsl(80, 11%, 29%); 
 }
 
// ========================
// Basic Defaults
// ========================
 html {
   font-size: var(--base-font-size); // Base font size for rem calculations
   -moz-text-size-adjust: none;      // Disable text size adjustment in Firefox
   -webkit-text-size-adjust: none;   // Disable text size adjustment in WebKit browsers
   text-size-adjust: none;           // Disable text size adjustment in all browsers
   scroll-behavior: smooth;          // Enable smooth scrolling for navigation
 }
 
 body {
   font-family: var(--ff-body);              // Default font family for body text
   font-size: var(--fs-body);                // Base font size for body text
   line-height: var(--base-line-height);     // Line height for readability
   background-color: var(--clr-neutral-100); // Default background color
   color: var(--clr-primary-400);           // Default text color
   text-rendering: optimizeSpeed;            // Optimize text rendering for performance
 }
 
// ========================
// Headings Configuration
// ========================
h1, h2, h3, h4, h5, h6 {
   font-family: var(--ff-heading); // Set font family for all heading levels
   font-weight: var(--fw-regular); // Set font weight for all headings
   // Example Output: Headings with font family "Helvetica", bold styling
 }

